---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to Willowier!</h1>
			<p></p>
			<img src="https://i.pinimg.com/564x/33/51/11/335111097c8f37bc4083e5505c6dab20.jpg" alt="">
		</main>
		<Footer />
	</body>
</html>
