---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/home">Home</HeaderLink>
		<HeaderLink href="/poems">Poems</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About Me</HeaderLink>
		<HeaderLink href="https://twitter.com/will_willowier" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://open.spotify.com/user/qpyzm72vac7qf5h3x1a4t8cuk" target="_blank">Spotify</HeaderLink>
		<HeaderLink href="https://www.instagram.com/wil.b.toews/" target="_blank">Instagram</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>